.banner-area{
    .banner-content{
        color: $white;
        margin-top: 50px;
    }
    h2{
        font-size: 45px;
    }
    p{
        max-width: 500px;
        margin: 30px auto;
    }
    a{
        margin: 0 10px;
    }
}