.header-area{
    padding: 20px 0;
    transition: .3s;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    &.sticky{
        background-color: $white;
        border-bottom: 2px solid #f2f2f2;
        a{
            color: #333 !important;
        }
    }
    .logo{
        float: left;
        width: 230px;
        a{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 22px;
            color: $white;
        }
    }
    .menu{
        float: right;
        width: 940px;
        margin-left: 30px;

        ul{
            text-align: right;
            li{
                display: inline-block;
                a{
                    margin-left: 20px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $white;
                    &:hover{
                        color: $primary;
                    }
                }
            }
        }
    }
}